<% if (errors && errors.length > 0) { %>
<ul class="notification-container">
  <% errors.forEach((error) => { %>
  <li class="notification-card error">
    <span><%= error.msg %></span>
    <span class="close-btn">&times;</span>
  </li>
  <% }) %>
</ul>
<% } %>
