<% if (locals.errors) { %>
<ul class="errors-container">
  <% errors.forEach((error) => { %>
  <li class="error">
    <span><%= error.msg %></span>
    <span class="close-btn">&times;</span>
  </li>
  <% }) %>
</ul>
<% } %>
