<nav>
  <div class="logo-container">
    <a
      href="<%= (locals.user) ? '/folders' : '/login' %>"
      data-href="<%= (locals.user) ? '/folders' : '/login' %>"
      >Strive</a
    >
  </div>
  <div class="nav-links">
    <% if (locals.user) { %>
    <a href="/logout" data-href="/logout">Logout</a>
    <% } else { %>
    <a href="/login" data-href="/login">Login</a>
    <a href="/register" data-href="/register">Register</a>
    <% } %>
  </div>
</nav>
