<% if (success && success.length > 0) { %>
<ul class="notification-container">
  <% success.forEach((s) => { %>
    <li class="notification-card success">
      <span><%= s.msg %></span>
      <span class="close-btn">&times;</span>
    </li>
  <% }) %>
</ul>
<% } %>
