<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/partials/navbar.css">
    <link rel="stylesheet" href="/css/partials/navbarMenu.css">
    <script src="/js/menuDropDown.js" defer></script>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <% if (locals.user) { %>
      <h1>Hello there <%= user.username %></h1>
      <form action="/file/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="picture">
        <button type="submit">Upload</button>
      </form>
    <% } else { %>
      <h1>Welcome to Strive</h1>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% } %>
  </body>
</html>
