<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/partials/navbar.css" />
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <%- include("partials/navbar") %> <% if (locals.errors) { %>
    <ul>
      <% errors.forEach((error) => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
    <main>
      <div class="container">
        <h1 class="container-header">Register</h1>
        <p class="container-redirect">
          Already have an account? <a href="/login">Login</a>
        </p>
        <form action="/register" method="post">
          <div class="input-container">
            <label for="username">Username</label>
            <input
              type="text"
              name="username"
              id="username"
              placeholder="jimmybob162"
              required
            />
          </div>
          <div class="input-container">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Enter Password"
              required
            />
          </div>
          <div class="input-container">
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              name="confirmPassword"
              id="confirmPassword"
              placeholder="Enter Password Again"
              required
            />
          </div>
          <button type="submit">Register</button>
        </form>
      </div>
    </main>
  </body>
</html>
