main {
  justify-content: start;
  align-items: start;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;
}

.drive-name {
  font-size: 24px;
  font-weight: 600;
}

.drive-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  padding: 16px;
}

.drive-contents {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
}

.empty-drive-container {
  text-align: center;
  color: var(--secondary-text-light);
  margin-top: 16px;
}
