@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* Background */
  --primary-bg: rgb(16, 16, 16);
  --button-bg: rgb(34, 34, 34);
  --button-bg-dark: rgb(24, 24, 24);
  --button-bg-light: rgb(50, 50, 50);

  /* Text */
  --primary-text: rgb(230, 230, 230);
  --secondary-text: rgb(142, 142, 142);
  --secondary-text-light: rgb(205, 205, 205);
  --link-text: rgb(69, 125, 255);

  /* Border */
  --primary-border: rgb(29, 29, 29);
  --primary-button-border: rgb(48, 48, 48);
  --muted-border: rgb(24, 24, 24);

  /* Hover */
  --primary-hover: rgb(21, 21, 21);
  --button-hover: rgb(39, 39, 39);
  --button-dark-hover: rgb(29, 29, 29);
  --button-light-hover: rgb(55, 55, 55);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

main {
  flex: 1;
}

.size-6 {
  width: 16px;
  height: 16px;
}

.size-7 {
  width: 20px;
  height: 20px;
}
