@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* Background */
  --primary-bg: rgb(16, 16, 16);
  --button-bg: rgb(34, 34, 34);

  /* Text */
  --primary-text: rgb(230, 230, 230);
  --secondary-text: rgb(142, 142, 142);
  --link-text: rgb(69, 125, 255);

  /* Border */
  --muted-border: rgb(24, 24, 24);

  /* Hover */
  --button-hover: rgb(39, 39, 39);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

main {
  flex: 1;
  padding: 16px;
}