.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: auto;
  transform: scale(0.8);
  transition:
    opacity 200ms linear(0, -0.008 4.1%, -0.035 8.3%, -0.179 21.1%, -0.216 25.3%, -0.228 29.5%, -0.208 33.3%, -0.121 38.2%, 0.036 42.7%, 0.261 46.8%, 0.881 55.6%, 1.058 59.7%, 1.172 64.1%, 1.222 68.6%, 1.228 71.1%, 1.221 73.7%, 1.183 78.5%, 1.034 91.8%, 1.008 95.9%, 1),
    transform 200ms linear(0, -0.008 4.1%, -0.035 8.3%, -0.179 21.1%, -0.216 25.3%, -0.228 29.5%, -0.208 33.3%, -0.121 38.2%, 0.036 42.7%, 0.261 46.8%, 0.881 55.6%, 1.058 59.7%, 1.172 64.1%, 1.222 68.6%, 1.228 71.1%, 1.221 73.7%, 1.183 78.5%, 1.034 91.8%, 1.008 95.9%, 1);
  pointer-events: none;
  z-index: 300;
}

.modal-content {
  background-color: var(--primary-bg);
  padding: 16px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--primary-border);
  max-width: 400px;
  width: calc(100% - 32px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 300;
}

.show {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.modal-header h1 {
  font-size: 24px;
}

.modal-close {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  padding: 4px;
  cursor: pointer;
}

.modal-close:hover {
  background-color: var(--primary-hover);
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input[type="file"]::file-selector-button {
  margin-right: 16px;
}

input[type="file"]::file-selector-button,
.modal-content button {
  background-color: var(--button-bg);
  color: var(--secondary-text-light);
  border: 1px solid var(--primary-button-border);
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover,
.modal-content button:hover {
  background-color: var(--button-hover);
}
