.file-info-container {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(0.301, 0.395, 0.408, 1.163);
  background-color: var(--primary-bg);
  max-width: 300px;
  width: 100%;
  height: 100%;
  padding: 16px;
  z-index: 300;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: scroll;
}

.file-info-top-section {
  display: flex;
  align-items: center;
}

.file-info-container.show {
  transform: translateX(0);
}

.file-info-container h1 {
  font-size: 18px;
  font-weight: 400;
}

.file-info-container svg {
  box-sizing: content-box;
  padding: 8px;
  display: flex;
  cursor: pointer;
  margin-left: auto;
}

.file-info-container svg:hover {
  background-color: var(--primary-hover);
}

.file-info-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.file-info-img-container {
  display: flex;
  overflow: hidden;
  max-width: 100%;
}

.file-info-img-container img {
  width: 100%;
}

.file-info-content-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
}

.file-info-details {
  color: var(--secondary-text-light);
}

@media (max-width: 380px) {
  .file-info-container {
    min-width: auto;
    max-width: 100%;
    width: 100%;
    transition: transform 300ms ease;
  }
}
