nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 16px;
  background-color: var(--primary-bg);
  border-bottom: 1px solid var(--primary-border);
  z-index: 100;
}

.nav-links {
  display: flex;
  gap: 16px;
}

.logo-container a,
.nav-links a {
  color: var(--primary-text);
  text-decoration: none;
}

.logo-container {
  font-size: 24px;
  font-weight: 600;
}
