nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  border-bottom: 1px solid var(--muted-border);
}

.nav-links {
  display: flex;
  gap: 16px;
}

.logo-container a,
.nav-links a {
  color: var(--primary-text);
  text-decoration: none;
}

.logo-container {
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}