.menu-container {
  position: relative;
  display: none;
}

.menu-btn-container {
  display: flex;
  box-sizing: content-box;
  cursor: pointer;
  display: none;
}

.menu-links {
  position: absolute;
  background-color: var(--primary-bg);
  border: 1px solid var(--muted-border);
  z-index: 10;
  top: 100%;
  right: 0;
  padding: 4px;
  gap: 8px;
}

.hidden {
  display: none;
}

.menu-links a {
  display: flex;
  text-decoration: none;
  padding: 8px 12px;
  color: var(--primary-text);
  min-width: 100px;
}

.menu-links a:hover,
.menu-btn-container:hover {
  background-color: var(--primary-hover);
}

hr {
  border: 1px solid var(--primary-border);
}

.menu-btn {
  width: 24px;
  fill: var(--primary-text);
}

@media (max-width: 768px) {
  .menu-btn-container,
  .menu-container {
    display: flex;
  }
}
