.tools-container {
  display: flex;
  border-right: 1px solid var(--primary-border);
  min-width: 250px;
  padding: 16px;
}

.tools-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}

.tools-icon {
  margin-right: 8px;
}

.tools-buttons button {
  display: flex;
  padding: 8px;
  background-color: var(--button-bg-dark);
  color: var(--secondary-text-light);
  border: none;
  border: 1px solid var(--primary-button-border);
  border-radius: 4px;
  cursor: pointer;
}

.tools-buttons button:hover {
  background-color: var(--button-dark-hover);
}

@media (max-width: 820px) {
  .tools-container {
    display: none;
  }
}

